<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>twotter</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body>
  <div>
    <header>
      <h1>
        <a href="/"><i class="fab fa-twitter">twotter</i></a>
      </h1>
      <nav>
        <a href="/dashboard">profile</a>
        {{#if loggedIn}}
        <button id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        <a href="/signup">Sign-up</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      All your Thoughts are most Welcome here!
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>