* {
  box-sizing: border-box;
  }

  body {
  height: 100%;
  font-family: "Comic Sans MS", "Comic Sans";
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 20px;
  }
  
  h1, 
  h2{
  font-weight: 700;
  margin: auto;
  color: black;
  line-height: 1.25;
  }
  
  main {
  margin: 20px auto;
  width: 94%;
  }
  
  .wrapper {
  width: 100%;
  min-height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  }
  
  .comment p {
  font-size: 1rem;
  margin-right: 5px;
  }
  
  .btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  border: none;
  outline: none;
  background-color: #ffc0cb !important;
  }
  
  .love-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: pink;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
    display: flex;
    justify-content: flex-start;
  }

  .love-btn:hover {
    color:red;
  }

  .btn:hover {
  color: white !important;
  background-color: red !important;
  transform: translate(0, 0);
  box-shadow: 2px 2px red;
  }
  
  .btn-inline {
  display: inline;
  }
  
  .btn-back:hover {
  transform: translate(0, 0);
  box-shadow: 2px 2px red;
  }
  
  .hero {
  padding: 0% 0% 2% 3%;
  background-color: #ffc0cb;
  }
  
  .hero p {
  max-width: 55%;
  }
  
  .app-title {
  font-size: 2.0rem;
  background-color: white;
  color: #ffc0cb;
  padding: 0 25px 5px;
  border-radius: var(--border-radius);
  display: inline-block;
  box-shadow: 6px 5px rgb(190, 141, 150);
  border-radius: 5px;
  }

  .app-title:hover {
    background: red;
    color: white;
    border-radius: 5px;
  }
  
  .list-item {
  margin-bottom: 20px;
  padding: 1.5%;
  border-radius: var(--border-radius);
  background-color: red;
  text-decoration: none;
  }
  
  .list-item:hover {
  background-color: violet;
  }
  
  /* CARDS */
  
  .card {
  margin: 0 0 16px 0;
  border: 2px solid red;
  border-radius: var(--border-radius);
  }
  
  .card-header {
  background-color: pink !important;
  padding: 1%;
  border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
  }
  
  .card-body {
  padding: 1%;
  }
  
  h4 {
  font-weight: 550;
  margin: 0;
  line-height: 1.25;
  }
  
  .link {
  color: white;
  background-color: #ffc0cb;
  }

  .link:hover {
    color: red;
  }

  #logout {
    background-color: #ffc0cb;
    color: white;
  }
  
  .nav {
    color:white;
    justify-content: space-around;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
  }

 .nav :hover {
    background: white;
    color: #ffc0cb;
    border-radius: 5px;
}

  
  footer {
  border-top: 1px solid pink;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
  }
  
  .form-label,
  .form-input,
  .form-textarea {
  display: block;
  }
  
  .form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
  }
  
  .form-input {
  width: 100%;
  padding: 2%;
  margin: 5px 0;
  font-size: 1.2rem;
  border:solid 1px #ffc0cb;
  border-radius: 10px;
  }
